body{
    margin: 0;
    background-color: aliceblue;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero{
    background-image: url("https://media.istockphoto.com/id/476098860/vector/wonderful-morning-in-the-blue-mountains.jpg?s=612x612&w=0&k=20&c=0nuLvsWKXPReu01RvbXTKIwlUYxOQvoXD_qVBrsapxc=");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: black;

    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 100px;
}
