body{
    margin: 0;
    background-color: aliceblue;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero{
    background-image: url("images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: black;

    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 100px;
}
